{% if S_FIND and not S_ERROR %}
<script>
	$( document ).ready(function() {
		$("#phpbbservices_spamremover_posts_start_date, #phpbbservices_spamremover_posts_end_date, #phpbbservices_spamremover_pms_start_date, #phpbbservices_spamremover_pms_end_date").datepicker(
			{
				dateFormat: 'yy-mm-dd',
				changeYear: true
			}
		);
	});
</script>
{% endif %}
{% if S_REMOVE_BULK or S_RESET %}
<script>
	jQuery(function($) {
		$("#phpbbservices_spamremover_acp").submit(function( event ) {
			// If in the bulk spam removal function, warn before submitting if the radio button was checked allowing it.
			var commit = $("input:radio[name='phpbbservices_spamremover_proceed']:checked, input:radio[name='phpbbservices_spamremover_reset']:checked").val();
			if (commit == '1') {
				if (!confirm('{{ lang('ACP_SPAMREMOVER_ARE_YOU_SURE')|escape("js") }}')) {
					event.preventDefault();
				}
			}
		});
	});
</script>
{% endif %}